@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
h1 {
    font-size: 40px;
}
.halo {
    color: black;
    margin-left: 0px;
    margin-right: 200px;
    margin-bottom: 50px;
    text-align: left;
    display:flex;
    flex-direction: row-reverse;
    font-size: 16px;
    margin-top: 140px;
    justify-content: left;
}
.NID {
    font-family: 'EB Garamond', serif;
    color: white;
    margin-top: -70px;
    font-size: 50px;
    align-items: center;
}
.App-logo2 {
    border-radius: 1%;
    margin-top: 70px;
    margin-right: 10px;
    margin-left: 200px;
    height: 320px;
    width: 250px;
    border: 50px;
    opacity: o.1;
}
.ZEE {
    font-size: 30px;
    font-weight: 1px;
    font-family: 'EB Garamond', serif;
    text-align: justify;
    margin-top: -70px;
    margin-bottom: 200px;
}
.ALL {
    display: flex;
    flex-direction: row;
}