@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
h1 {
    font-size: 40px;
    margin-left: 10%;
    margin-right: 10%;
}
.halo {
    color: black;
    text-align: center;
    display:flex;
    flex-direction: row-reverse;
    font-size: 16px;
    justify-content: left;
}
.NID {
    font-family: 'EB Garamond', serif;
    color: white;
    font-size: 50px;
    align-items: center;
    margin-top: -70px;
}
.App-logo2 {
    border-radius: 1%; 
    opacity: o.1;
    align-self: center;
    margin-top: 10px;
    max-height: 1000px;
    max-width: 750px;

}
.ZEE {
    background-color: transparent;
    text-align: justify;
    margin-left:5%;
    margin-top:5%;
    margin-bottom:5%;
    margin-top: 70%;
}
.ALL {
    display: flex;
    flex-direction: column;
    background: center url('Laptop home.jpg') no-repeat;
}
.MOO {
    background-color: transparent;
    text-align: justify;
    margin-left:5%;
    margin-top:5%;
    margin-bottom:5%;
    margin-top: 70%;
}