@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
.san {
    background-color: white;
    letter-spacing: 2px;
    background: url('businesscard.jpeg') center no-repeat;
    background-size: cover;
    border: solid 1px;
    margin-top:-80px;
}
.contact {
    font-family: 'EB Garamond', serif;
    font-size: 50px;
    color:white;
    background-color:#282c34;
    letter-spacing: 10px;
    margin-bottom: 200px;
    margin-left: 0%;
    margin-right: 0%;
}
.Loop {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: transparent;
    border-radius: 0.5%;
    letter-spacing: 5px;
    min-height: 800px;
}
.one {
    margin-bottom: 80px;

}
.two {
    margin-bottom: 80px;
}
.three {
    margin-bottom: 80px;
}
.four { 
    margin-bottom: 80px;
}
.ending {
    font-size:40px;
    color:white; 
}