.Educ {
    font-size: 32px;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 100px;
}
.Headers {
    font-size: 50px;
    color:white;
    margin-top: -80px;
    font-family: 'EB Garamond', serif;
}
.Zoom {
    height: 150px;
    margin-left: 370px;
    margin-bottom: 70px;
}
.Ziki {
    height: 150px;
    margin-left: 360px;
    margin-bottom: 70px;
}
.Bon {
    margin-left: 350px;
    margin-bottom: 10px;
}
.Uno {
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px;
    margin-bottom: 150px;
}
.Dos {
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px;
    margin-bottom: 100px;
}
.mee {
    margin-bottom:-10%;
    margin-top: 4%;
}
.meee {
    margin-bottom:-10%;
    margin-top: 4%;
}