@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
.hogo{
    display: flex;
    flex-direction: column;
    align-content:center;
    margin-top:50px;
    margin-bottom:50px;
    text-align: center;
    border: black 2px;
    border-color: black 2px;
    border-style: double;
    width: 50%;
    height: 10%;
    border-radius: 20px;
    margin-right: 50%;
    background-color: #F1EAD7;
    padding: 5%;
}
.yogo{
    border-left: 50%;
    text-align: center;
    border: black 2px;
    border-color: black 2px;
    border-style: double;
    width: 50%;
    height: 10%;
    border-radius: 20px;
    align-content: center;
    background-color: #F1EAD7;
    padding: 5%;
}
.sogo{
    border: black 2px;
    border-color: black 2px;
    border-style: double;
    width: 50%;
    height: 10%;
    border-radius: 20px;
    margin-left: 50%;
    background-color: #F1EAD7;
    padding: 5%;
}
.Bright {
    margin-left: 230px;
    margin-right: 10%;

}
.Slow {
    margin-top: -70px;
    margin-bottom: 100px;
    color:white;
    font-family: 'EB Garamond', serif;
    font-size: 50px;
}
.wogo {
    margin-top:50px;
    margin-bottom:50px;
    text-align: center;
    border: black 2px;
    border-color: black 2px;
    border-style: double;
    width: 50%;
    height: 10%;
    border-radius: 20px;
    margin-left: 50%;
    background-color: #F1EAD7;
    padding: 5%;
}
.mogo {
    background-color: #F1EAD7;
    margin-top:50px;
    margin-bottom:50px;
    text-align: center;
    border: black 2px;
    border-color: black 2px;
    border-style: double;
    width: 50%;
    height: 10%;
    border-radius: 20px;
    padding: 5%;
}
.xogo {
    background-color: #F1EAD7;
    margin-top:50px;
    margin-bottom:50px;
    text-align: center;
    border: black 2px;
    border-color: black 2px;
    border-style: double;
    width: 50%;
    height: 10%;
    border-radius: 20px;
    padding: 5%;
}
.zogo {
    background-color: #F1EAD7;
    margin-top:50px;
    margin-bottom:50px;
    text-align: center;
    border: black 2px;
    border-color: black 2px;
    border-style: double;
    width: 50%;
    height: 10%;
    border-radius: 20px;
    margin-left: 50%;
    padding: 3%;
}
.aogo {
    background-color: white;
    margin-top:50px;
    margin-bottom:50px;
    text-align: center;  
}
.header {
    font-size: 38px;
}
.Coops {
    border-color: black 2px;
}
.Bright {
    border: black 10px;

}
.SET{
    border: black 2px;
    border-color: black 2px;
    border-style: double;
    width: 50%;
    height: 10%;
    border-radius: 20px;
    background-color: #F1EAD7;
    margin-left: 50%;
    padding: 5%;
}