@import url('https://fonts.googleapis.com/css?family=Cinzel');
.App-title {
    font-size: 60px;
    color: white;
    background-color: #282c34;
    margin-top:-80px;
    font-family:'Times New Roman';
    margin-left:0%;
    margin-right:0%;
}
.Hand {
    background: center url('Laptop201.jpg') no-repeat;
    background-size: cover;
    border: solid black 2px;
    opacity: 100%;
}
.NOOB {
    color: white;
    letter-spacing: 20px;
    background-color: transparent;
    text-decoration: bold;
    min-width: 600px;
    margin-top: 400px;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
    font-weight: 400;
    margin-bottom: 10%;
    opacity: 90%;
}
.Ama {
    background-color: transparent;
    text-align: justify;
    margin-left:20%;
    margin-top:20%;
    margin-bottom:5%;
    border: solid black 2px;
}
.Jor {
    font-size: 40px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    display:flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: left;
}
.jin {
    background-color: transparent;
    text-align: justify;
    margin-left:20%;
    margin-top:10%;
    margin-bottom:20%;
    border: solid black 2px;
}
.niss {
    background-color: transparent;
    font-family:'Times New Roman' ;
    text-align: center;
    text-justify: auto;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-shadow: black 20px;
    
}
