@import url('https://fonts.googleapis.com/css?family=Cinzel');
.App-title {
    font-size: 60px;
    color: white;
    background-color: #282c34;
    margin-top:-80px;
    font-family:'Times New Roman';
    margin-left:0%;
    margin-right:0%;
}
.Hand {
    background: center url('Writing-freelancer.jpg') no-repeat;
    background-size: cover;
    
}
.NOOB {
    color: black;
    opacity: 10;
    letter-spacing: 20px;
    background-color: transparent;
    text-decoration: bold;
    min-width: 600px;
    margin-top: 300px;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 400;

}
