@import url('https://fonts.googleapis.com/css?family=Cinzel');
.App-title {
    font-size: 60px;
    color: white;
    background-color: #282c34;
    margin-top:-80px;
    font-family:'Times New Roman';
    margin-left:0%;
    margin-right:0%;
}
.Hand {
    background: center url('Writing-freelancer.jpg') no-repeat;
    background-size: cover;
    min-height: 100%;
    margin: 0%;
    min-width: 100%;
    height: 901px;
    opacity: 10;
    width: 900px;
}
.NOOB {
    color:white;
    opacity: 0.7;
    letter-spacing: 20px;
    background-color: transparent;
    text-decoration: bold;
    float:center;
    min-width: 600px;
    position:absolute;
    margin:100px;
    bottom:-250px;

}
