@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
.prof {
    color: white;
    font-size: 50px;
    margin-top: -80px;
    margin-bottom: 10px;
    font-family: 'EB Garamond', serif;
}
.Ben {
    align-content: left;
    justify-content: left;
    margin-left: 40px;
    margin-right: 100px;
    border: solid 1px;
    background-color: gray;
}
.Hen {
    border: solid 1px;
    margin-left: 314px;
    margin-right: 100px;
    margin-bottom: 5%;
    background-color: gray
}
.Not{
    height: 200px;
    border-radius: 1%;
    margin-left: 40px;
    border: solid 1px;
    padding: 10px;
    margin-top: 10px;
}
.BOL{
    align-items: left;
    justify-content: left;
}
.Mon{
    display:flex;
    direction:row;
}
.singko {
    margin-bottom: 5%;
}
.yat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}