@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');
.prof {
    color: white;
    font-size: 50px;
    margin-top: -70px;
    margin-bottom: 10px;
    font-family: 'EB Garamond', serif;
}
.Ben {
    text-align: justify;
    margin-left: 40px;
    margin-right: 100px;
    background-color:transparent;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'EB Garamond', serif;
}
.Hen {
    border: solid 1px;
    margin-left: 314px;
    margin-right: 100px;
    margin-bottom: 5%;
    background-color:transparent;
}
.Not{
    height: 200px;
    border-radius: 1%;
    margin-left: 40px;
    border: solid 1px;
    padding: 10px;
    margin-top: 20px;
}
.BOL{
    align-items: left;
    justify-content: left;
}
.Mon{
    display:flex;
    direction:row;
}
.singko {
    margin-bottom: 5%;
}
.yat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.hachi {
    margin-left: 314px;
    margin-right: 100px;
    margin-bottom: 5%;
    background-color:transparent;
}
.sign {
    text-align: left;
}
.Just {
    margin-left: 35px;
    font-family: 'EB Garamond', serif;
}