@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Architects+Daughter&display=swap');

.Mind {
    font-family: 'EB Garamond', serif;
    font-size: 50px;
    color:white;
    background-color:transparent;
    letter-spacing: 10px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: -70px;

}
.boom2 {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    margin-top: 50px;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
  
    
}
.route {
    margin-bottom: 70px;
}
.uno {
   margin-bottom: 100px;
   align-self: flex-start;
   margin-left: 15%;
}
.dos {
    margin-bottom: 100px;
    align-self: flex-end;
    margin-right: 15%;
}
.tres {
    margin-bottom: 100px;
    align-self: flex-end;
    margin-right: 15%;
    
}
.singko {
    margin-bottom: 100px;
    align-self: flex-start;
    margin-left: 15%;

}
.yat {
    background-color: rgb(199, 195, 195);
   
}
.monday {
    color: #635116;
    align-self: center;
    margin-left: 5%;
    margin-bottom: 50px;
}

.tuesday{
    color: #635116;
    align-self: center;
    margin-right: 5%;
    margin-bottom: 50px;
    

}

.wednesday{
    color: #635116;
    align-self: center;
    margin-left: 5%;
    margin-bottom: 50px;
}

.thursday{
    color: #635116;
    align-self: center;
    margin-right: 5%;
    margin-bottom: 50px;
}
.Notting{
    border: none;
    size: 10px;
    width: 210px;
    height: 70px; 
    margin-bottom: 0%;
    margin-top: -5%;
}
.friday {
    color: #635116;
    align-self: center;
    margin-right: 5%;
    margin-bottom: 50px;
}
.kwatro {
    margin-bottom: 100px;
    align-self: flex-start;
    margin-left: 15%;
}