@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
.Mind {
    font-family: 'EB Garamond', serif;
    font-size: 50px;
    color:white;
    background-color:transparent;
    letter-spacing: 10px;
    margin-bottom: 100px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: -70px;
}
header {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
}
.route {
    margin-bottom: 100px;
}