@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|EB+Garamond|Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre');
@import url('https://fonts.googleapis.com/css?family=Staatliches');
.App {
  text-align: center;
  background: white;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  color: black;
  font-size: 18px;
  font-family: 'Abhaya Libre', serif;
  border: solid 5px black;
  border-radius: 5px;
  min-width:900px;
  min-height: 100%;
}

.App-header {
  height: 80px;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  letter-spacing: 3px;
  color: white;
  font-family: 'EB Garamond', serif;

}
.App-link {
  color:black; 
}
ul {
  list-style-type: none;
  padding: 0; 
}
.menu:after {
  content: '';
  display: table;
  clear: both;
}
.menu ul {
  float: right;
  background-color: transparent;
  margin: 0;
  padding: 15px;
  font-family: 'Amatic SC', cursive;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.menu {
  background-color: white;
  margin-right: -1px;
}
.menu li {
  font-family: 'Staatliches', cursive;
  font-size: 1.2em;
  text-justify: auto;
  transition: 1s;
  width: 100%;
  padding: 10px;
}
.menu li:hover {
  background-color: whitesmoke;
  width: 100%;
  border-radius: 5%;
  border-top: solid 2px #282c34;
  text-shadow: 0, 0, 2px rgba(0,0,0,0.3);
  font-weight: 300;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
  padding: 10px;
}
 
.menu a {
  text-decoration: none;
  color: black;
  display: block;
  font-size: 20px;
}
.Contact {
  opacity: 30%;
  text-decoration: underline;
  font-size: 20px;
  background-color: #282c34;
  text-align: center;
}
.Contact p {
  text-align: center;
  margin: 10px;
}
.LOG {
  float: left;
  height: 60px;
  margin-left: 5%;
  margin-right: 5%;
}
.Buttons {
  margin: 3px;
  float:none;
}
.HALL {
  display:none;
}
