@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
}
.preload {
  
  float:center;
}
